section(class="gallery")
 .container
  div(class="gallery-heading text-center")
   h1 واجهات 
    span التطبيق
  div(class="owl-carousel owl-theme")
   div(class="item")
    img(src="images/screen-1.png" alt="mobile")
   div(class="item")
    img(src="images/screen-1.png" alt="mobile")
   div(class="item")
    img(src="images/screen-1.png" alt="mobile")
   div(class="item")
    img(src="images/screen-1.png" alt="mobile")
   div(class="item")
    img(src="images/screen-1.png" alt="mobile")