section(class="track")
 .overlay
 .container
  div(class="row justify-content-center align-items-center")
   div(class="track-input col-lg-8")
    input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="اكتب كود الشحنة")
   div(class="track-button col-lg-4")
    button(class="btn btn-primary colo-lg-8") تتبع الشحنة 
   