
div(class="about-us-2" dir="rtl")
    h1(class="text-center") About us
    div(class="container up-box")
        .row
            div(class="col-md-7 boxs")
                img(src="images/1.JPG", width="100%")
            div(class="col-md-5 boxs")
                .container
                    h3 WHO WE ART ?
                    P i am our site mei mohwm i will tam many will my site pe h love, no i mksksjd dsjdsjjd i am our site mei mohwm i will tam many will my site pe h love, no i mksksjd dsjdsjjd
                    a(href="#") show more
            div(class="col-md-7 boxs")
                .container
                    h3 WHO WE ART ?
                    P i am our site mei mohwm i will tam many will my site pe h love, no i mksksjd dsjdsjjd i am our site mei mohwm i will tam many will my site pe h love, no i mksksjd dsjdsjjd 
                    a(href="#") show more
            div(class="col-md-5 boxs")
                img(src="images/as-4.JPG", width="100%", height="250px")