<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sho7na | Website
    include ../pug/styles/styles.pug
  body
   //-- Start Header
   include ../pug/sections/header.pug
   //-- End Header
   //-- Start Intro
   include ../pug/sections/intro.pug
   //-- End Intro
   //-- Start About Us Section
   include ../pug/sections/features.pug
   //-- End About Us Section

   include ../pug/scripts/scripts.pug
   