/* === Start Header === */
header{
    height: 0px;
    position: relative;
    z-index: 11;
}

header nav{
    padding: 15px 0 !important;
    background: #fff;
}

header nav .navbar-brand{
    margin-right: 40px
}

header nav .navbar-brand img{
    width: 150px
}

header nav .collapse .navbar-nav li.nav-item{
    margin-left: 15px;
}

header nav .collapse .navbar-nav li.nav-item a{
    color: var(--headign-color);
    transition: all 0.3s ease
}

header nav .collapse .navbar-nav li.nav-item a:hover,
header nav .collapse .navbar-nav li.nav-item a:focus,
header nav .collapse .navbar-nav li.active a{
    color: var(--main-color) !important
}

header nav .collapse .navbar-nav li input{
    font-size: 14px;
    outline: none;
    border-radius: 30px;
    padding: 0 20px
}

header nav .collapse .navbar-nav li i{
    font-size: 19px;
    margin-top: 10px;
    margin-right: 14px;
    margin-left: 90px;
    color: var(--main-color);
    cursor: pointer
}
/* === End Header === */
/*=== Start Header Fixed ===*/
header nav.nav-fixed{
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: #000;
    height: 100px;
    z-index: 22;
    animation: nav 1 0.8s ease forwards
}

header nav.nav-fixed .navbar-nav li a{
    color: #000 !important
}

header nav.nav-fixed .navbar-nav li.nav-item a:hover,
header nav.nav-fixed .navbar-nav li.nav-item.active a{
    color: var(--main-color) !important
}

header nav.nav-fixed .navbar-nav li button{
    background-color: var(--main-color);
}

header nav.nav-fixed .navbar-nav li button span{
    color: #fff
}
/*=== End Header Fixed ===*/
@keyframes nav{
    0%{
        top: -100px;
        opacity: 0
    }
    100%{
        top: 0px;
        opacity: 1
    }
}